In [1]:
%load_ext sql

connect to db2 then Service credentials-1 and copy uri

In [2]:
%sql ibm_db_sa://rmt15206:4hfzpbxx4rkc-74l@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [3]:
#%%sql

#CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
#	country VARCHAR(50),
#	first_name VARCHAR(50),
#	last_name VARCHAR(50),
#	test_score INT
#);

In [4]:
#%%sql
#INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
#VALUES
#('Vietnam', 'Trung', 'Son', 88),
#('Vietnam', 'Le', 'Lien', 98)

In [5]:
%%sql
select * from INTERNATIONAL_STUDENT_TEST_SCORES

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52),
 ('Poland', 'Shannon', 'Goulden', 45),
 ('Philippines', 'Emylee', 'Privost', 50),
 ('France', 'Madelina', 'Burk', 49),
 ('China', 'Saunderson', 'Root', 58),
 ('Indonesia', 'Bo', 'Waring', 55),
 ('China', 'Hollis', 'Domotor', 45),
 ('Russia', 'Robbie', 'Collip', 46),
 ('Philippines', 'Davon', 'Donisi', 46),
 ('China', 'Cristabel', 'Radeliffe', 48),
 ('China', 'Wallis', 'Bartleet', 58),
 ('Moldova', 'Arleen', 'Stailey', 38),
 ('Ireland', 'Mendel', 'Grumble', 58),
 ('China', 'Sallyann', 'Exley', 51),
 ('Mexico', 'Kain', 'Swaite', 46),
 ('Indonesia', 'Alonso', 'Bulteel', 45),
 ('Armenia', 'Anatol', 'Tankus', 51),
 ('Indonesia', 'Coralyn', 'Dawkins', 48),
 ('China', 'Deanne', 'Edwinson', 45),
 ('China', 'Georgiana', 'Epple', 51),
 ('Portugal', 'Bartlet', 'Breese', 56),
 ('Azerbaijan', 'Idalina', 'Lukash', 50),
 ('France', 'Livvie', 'Flory', 54),
 ('Malaysia', 'Nonie', 'Borit', 48),
 ('Indonesia', 'Clio', 'Mugg', 47),
 ('Brazil', 'Westley', 'Measor', 48),
 ('Philippines', 'Katrinka', 'Sibbert', 51),
 ('Poland', 'Valentia', 'Mounch', 50),
 ('Norway', 'Sheilah', 'Hedditch', 53),
 ('Papua New Guinea', 'Itch', 'Jubb', 50),
 ('Latvia', 'Stesha', 'Garnson', 53),
 ('Canada', 'Cristionna', 'Wadmore', 46),
 ('China', 'Lianna', 'Gatward', 43),
 ('Guatemala', 'Tanney', 'Vials', 48),
 ('France', 'Alma', 'Zavittieri', 44),
 ('China', 'Alvira', 'Tamas', 50),
 ('United States', 'Shanon', 'Peres', 45),
 ('Sweden', 'Maisey', 'Lynas', 53),
 ('Indonesia', 'Kip', 'Hothersall', 46),
 ('China', 'Cash', 'Landis', 48),
 ('Panama', 'Kennith', 'Digance', 45),
 ('China', 'Ulberto', 'Riggeard', 48),
 ('Switzerland', 'Judy', 'Gilligan', 49),
 ('Philippines', 'Tod', 'Trevaskus', 52),
 ('Brazil', 'Herold', 'Heggs', 44),
 ('Latvia', 'Verney', 'Note', 50),
 ('Poland', 'Temp', 'Ribey', 50),
 ('China', 'Conroy', 'Egdal', 48),
 ('Japan', 'Gabie', 'Alessandone', 47),
 ('Ukraine', 'Devlen', 'Chaperlin', 54),
 ('France', 'Babbette', 'Turner', 51),
 ('Czech Republic', 'Virgil', 'Scotney', 52),
 ('Tajikistan', 'Zorina', 'Bedow', 49),
 ('China', 'Aidan', 'Rudeyeard', 50),
 ('Ireland', 'Saunder', 'MacLice', 48),
 ('France', 'Waly', 'Brunstan', 53),
 ('China', 'Gisele', 'Enns', 52),
 ('Peru', 'Mina', 'Winchester', 48),
 ('Japan', 'Torie', 'MacShirrie', 50),
 ('Russia', 'Benjamen', 'Kenford', 51),
 ('China', 'Etan', 'Burn', 53),
 ('Russia', 'Merralee', 'Chaperlin', 38),
 ('Indonesia', 'Lanny', 'Malam', 49),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Czech Republic', 'Lari', 'Hillhouse', 48),
 ('China', 'Ossie', 'Woodley', 52),
 ('Macedonia', 'April', 'Tyer', 50),
 ('Vietnam', 'Madelon', 'Dansey', 53),
 ('Ukraine', 'Korella', 'McNamee', 52),
 ('Jamaica', 'Linnea', 'Cannam', 43),
 ('China', 'Mart', 'Coling', 52),
 ('Indonesia', 'Marna', 'Causbey', 47),
 ('China', 'Berni', 'Daintier', 55),
 ('Poland', 'Cynthia', 'Hassell', 49),
 ('Canada', 'Carma', 'Schule', 49),
 ('Indonesia', 'Malia', 'Blight', 48),
 ('China', 'Paulo', 'Seivertsen', 47),
 ('Niger', 'Kaylee', 'Hearley', 54),
 ('Japan', 'Maure', 'Jandak', 46),
 ('Argentina', 'Foss', 'Feavers', 45),
 ('Venezuela', 'Ron', 'Leggitt', 60),
 ('Russia', 'Flint', 'Gokes', 40),
 ('China', 'Linet', 'Conelly', 52),
 ('Philippines', 'Nikolas', 'Birtwell', 57),
 ('Australia', 'Eduard', 'Leipelt', 53),
 ('Vietnam', 'Trung', 'Son', 88),
 ('Vietnam', 'Le', 'Lien', 98)]

In [6]:
country = "Vietnam"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Vietnam', 'Madelon', 'Dansey', 53),
 ('Vietnam', 'Trung', 'Son', 88),
 ('Vietnam', 'Le', 'Lien', 98)]

In [7]:
%%sql
-- lay data tu IBM
select * from EMPLOYEES

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('E1001    ', 'John', 'Thomas', '123456   ', datetime.date(6, 5, 20), 'M', '5631 Rice, OakPark,IL', '100      ', Decimal('100000.00'), '30001    ', '2        '),
 ('E1002    ', 'Alice', 'James', '123457   ', datetime.date(6, 4, 18), 'F', '980 Berry ln, Elgin,IL', '200      ', Decimal('80000.00'), '30002    ', '5        '),
 ('E1003    ', 'Steve', 'Wells', '123458   ', datetime.date(6, 5, 16), 'M', '291 Springs, Gary,IL', '300      ', Decimal('50000.00'), '30002    ', '5        '),
 ('E1004    ', 'Santosh', 'Kumar', '123459   ', datetime.date(6, 5, 12), 'M', '511 Aurora Av, Aurora,IL', '400      ', Decimal('60000.00'), '30004    ', '5        '),
 ('E1005    ', 'Ahmed', 'Hussain', '123410   ', datetime.date(6, 5, 30), 'M', '216 Oak Tree, Geneva,IL', '500      ', Decimal('70000.00'), '30001    ', '2        '),
 ('E1006    ', 'Nancy', 'Allen', '123411   ', datetime.date(6, 5, 24), 'F', '111 Green Pl, Elgin,IL', '600      ', Decimal('90000.00'), '30001    ', '2        ')]

In [8]:
%%sql
select * from INTERNATIONAL_STUDENT_TEST_SCORES

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52),
 ('Poland', 'Shannon', 'Goulden', 45),
 ('Philippines', 'Emylee', 'Privost', 50),
 ('France', 'Madelina', 'Burk', 49),
 ('China', 'Saunderson', 'Root', 58),
 ('Indonesia', 'Bo', 'Waring', 55),
 ('China', 'Hollis', 'Domotor', 45),
 ('Russia', 'Robbie', 'Collip', 46),
 ('Philippines', 'Davon', 'Donisi', 46),
 ('China', 'Cristabel', 'Radeliffe', 48),
 ('China', 'Wallis', 'Bartleet', 58),
 ('Moldova', 'Arleen', 'Stailey', 38),
 ('Ireland', 'Mendel', 'Grumble', 58),
 ('China', 'Sallyann', 'Exley', 51),
 ('Mexico', 'Kain', 'Swaite', 46),
 ('Indonesia', 'Alonso', 'Bulteel', 45),
 ('Armenia', 'Anatol', 'Tankus', 51),
 ('Indonesia', 'Coralyn', 'Dawkins', 48),
 ('China', 'Deanne', 'Edwinson', 45),
 ('China', 'Georgiana', 'Epple', 51),
 ('Portugal', 'Bartlet', 'Breese', 56),
 ('Azerbaijan', 'Idalina', 'Lukash', 50),
 ('France', 'Livvie', 'Flory', 54),
 ('Malaysia', 'Nonie', 'Borit', 48),
 ('Indonesia', 'Clio', 'Mugg', 47),
 ('Brazil', 'Westley', 'Measor', 48),
 ('Philippines', 'Katrinka', 'Sibbert', 51),
 ('Poland', 'Valentia', 'Mounch', 50),
 ('Norway', 'Sheilah', 'Hedditch', 53),
 ('Papua New Guinea', 'Itch', 'Jubb', 50),
 ('Latvia', 'Stesha', 'Garnson', 53),
 ('Canada', 'Cristionna', 'Wadmore', 46),
 ('China', 'Lianna', 'Gatward', 43),
 ('Guatemala', 'Tanney', 'Vials', 48),
 ('France', 'Alma', 'Zavittieri', 44),
 ('China', 'Alvira', 'Tamas', 50),
 ('United States', 'Shanon', 'Peres', 45),
 ('Sweden', 'Maisey', 'Lynas', 53),
 ('Indonesia', 'Kip', 'Hothersall', 46),
 ('China', 'Cash', 'Landis', 48),
 ('Panama', 'Kennith', 'Digance', 45),
 ('China', 'Ulberto', 'Riggeard', 48),
 ('Switzerland', 'Judy', 'Gilligan', 49),
 ('Philippines', 'Tod', 'Trevaskus', 52),
 ('Brazil', 'Herold', 'Heggs', 44),
 ('Latvia', 'Verney', 'Note', 50),
 ('Poland', 'Temp', 'Ribey', 50),
 ('China', 'Conroy', 'Egdal', 48),
 ('Japan', 'Gabie', 'Alessandone', 47),
 ('Ukraine', 'Devlen', 'Chaperlin', 54),
 ('France', 'Babbette', 'Turner', 51),
 ('Czech Republic', 'Virgil', 'Scotney', 52),
 ('Tajikistan', 'Zorina', 'Bedow', 49),
 ('China', 'Aidan', 'Rudeyeard', 50),
 ('Ireland', 'Saunder', 'MacLice', 48),
 ('France', 'Waly', 'Brunstan', 53),
 ('China', 'Gisele', 'Enns', 52),
 ('Peru', 'Mina', 'Winchester', 48),
 ('Japan', 'Torie', 'MacShirrie', 50),
 ('Russia', 'Benjamen', 'Kenford', 51),
 ('China', 'Etan', 'Burn', 53),
 ('Russia', 'Merralee', 'Chaperlin', 38),
 ('Indonesia', 'Lanny', 'Malam', 49),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Czech Republic', 'Lari', 'Hillhouse', 48),
 ('China', 'Ossie', 'Woodley', 52),
 ('Macedonia', 'April', 'Tyer', 50),
 ('Vietnam', 'Madelon', 'Dansey', 53),
 ('Ukraine', 'Korella', 'McNamee', 52),
 ('Jamaica', 'Linnea', 'Cannam', 43),
 ('China', 'Mart', 'Coling', 52),
 ('Indonesia', 'Marna', 'Causbey', 47),
 ('China', 'Berni', 'Daintier', 55),
 ('Poland', 'Cynthia', 'Hassell', 49),
 ('Canada', 'Carma', 'Schule', 49),
 ('Indonesia', 'Malia', 'Blight', 48),
 ('China', 'Paulo', 'Seivertsen', 47),
 ('Niger', 'Kaylee', 'Hearley', 54),
 ('Japan', 'Maure', 'Jandak', 46),
 ('Argentina', 'Foss', 'Feavers', 45),
 ('Venezuela', 'Ron', 'Leggitt', 60),
 ('Russia', 'Flint', 'Gokes', 40),
 ('China', 'Linet', 'Conelly', 52),
 ('Philippines', 'Nikolas', 'Birtwell', 57),
 ('Australia', 'Eduard', 'Leipelt', 53),
 ('Vietnam', 'Trung', 'Son', 88),
 ('Vietnam', 'Le', 'Lien', 98)]

In [19]:
%%sql 
SELECT test_score as "Test Score", count(test_score) as "So luong" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score ORDER BY count(test_score) DESC;

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(48, Decimal('14')),
 (50, Decimal('10')),
 (45, Decimal('8')),
 (49, Decimal('8')),
 (51, Decimal('8')),
 (52, Decimal('8')),
 (53, Decimal('8')),
 (46, Decimal('7')),
 (54, Decimal('5')),
 (47, Decimal('4')),
 (55, Decimal('4')),
 (58, Decimal('4')),
 (38, Decimal('2')),
 (43, Decimal('2')),
 (44, Decimal('2')),
 (57, Decimal('2')),
 (40, Decimal('1')),
 (56, Decimal('1')),
 (60, Decimal('1')),
 (88, Decimal('1')),
 (98, Decimal('1'))]

In [25]:
dis = %sql SELECT test_score as "Test Score", count(*) as "So luong" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score ORDER BY count(test_score) DESC;
dis

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "as" was found following "SELECT test_score ".  Expected tokens may include:  "AND".  SQLSTATE=42601\r SQLCODE=-104')
[SQL: SELECT test_score as Test Score, count(*) as So luong from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score ORDER BY count(test_score) DESC;]
(Background on this error at: http://sqlalche.me/e/f405)

In [26]:
test_score_distribution = %sql SELECT test_score as "Test Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "as" was found following "SELECT test_score ".  Expected tokens may include:  "AND".  SQLSTATE=42601\r SQLCODE=-104')
[SQL: SELECT test_score as Test Score, count(*) as Frequency from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;]
(Background on this error at: http://sqlalche.me/e/f405)

In [30]:
import pandas as pd
chicago_data = pd.read_csv("jcxq-k9xf.csv")

In [33]:
%%sql 
PERSIST chicago_data

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "END-OF-STATEMENT" was found following "PERSIST chicago_data".  Expected tokens may include:  "JOIN <joined_table>".  SQLSTATE=42601\r SQLCODE=-104')
[SQL: PERSIST chicago_data]
(Background on this error at: http://sqlalche.me/e/f405)

In [36]:
%%sql
select * from chicago_data

 * ibm_db_sa://rmt15206:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "RMT15206.CHICAGO_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204')
[SQL: select * from chicago_data]
(Background on this error at: http://sqlalche.me/e/f405)